<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-10 mb-4 mb-lg-0">
        <div
          *ngFor="let company of companies"
          class="card mb-6" style="border-radius: .5rem; margin-top: 20px; margin-bottom: 50px;
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);">

          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-white"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem; background-color: #15395A;">
              <img
              src="{{ company.companyLogo }}"
                alt="Avatar" class="img-fluid my-5" style="width: 190px; border-radius: 50%;" />
              <h1>{{ company.companyName }}</h1>
              <!-- <p>{{ company.companyOwner }}</p> -->
              <i class="far fa-edit mb-5"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h3>Information</h3>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h5>Sector</h5>
                    <p class="text-primary">{{ company.companySector}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h5>PIB</h5>
                    <p class="text-primary">{{ company.companyPIB }}</p>
                  </div>
                </div>
                <!-- <h5>Projects</h5> -->
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h5>Owner</h5>
                    <p class="text-primary">{{ company.companyOwner }}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h5>Address</h5>
                    <p class="text-primary">{{ company.companyAddress }}</p>
                  </div>
                </div>
                <hr class="mt-0 mb-4">
                <div class="d-flex justify-content-start">
                  <p class="text-muted" style="margin-right: 20px;">
                    Email:
                      <span class="text-primary" style="text-decoration: underline;">
                        {{ company.companyEmail }}
                      </span>
                    </p>
                  <p class="text-muted" style="margin-right: 20px;">Tel 1:
                    <span class="text-primary" style="text-decoration: underline;">
                      {{ company.companyTel }}
                    </span> </p>
                  <p class="text-muted" style="margin-right: 20px;">Tel 2:
                    <span class="text-primary" style="text-decoration: underline;">
                      {{ company.companyTel2 }}
                    </span> </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
