<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <h1>Advertising Agency</h1>
    <h2>Billboard Marketing is Still an Effective Method of Promotion</h2>
    <a href="#" class="btn-get-started scrollto">Get Started</a>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container">

    </div>
  </section><!-- End Why Us Section -->
  <footer class="py-5 bg-dark">
    <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Belkisa Dazdarevic 2023</p></div>
  </footer>
